<ion-view view-title="{{city.name}}">
  <ion-content class="has-header padding">
    <ion-list class="padding" ng-repeat="sight in city.sights">
      <ion-item class="item-divider item-light item-icon-right padding">
        {{sight.name}}
        <button class="button icon button-icon ion-android-favorite"></button>
      </ion-item>
      <ion-item class="item-image">
        <img ng-src="{{sight.image}}">
      </ion-item>
      <ion-item class="item-text-wrap">
        {{sight.description}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>